<div class="sign_up_form">

<%= form_for @user do |f| %>
<div class="field">
  <%= f.text_field :first_name, placeholder: "First Name" %>
</div>

<div class="field">
  <%= f.text_field :last_name, placeholder: "Last Name" %>
</div>

<div class="field">
  <%= f.text_field :email, placeholder: "Email: joe@gmail.com" %>
</div>


<div class="field">
  <%= f.password_field :password, placeholder: "Password" %>
</div>

<div class="field">
  <%= f.password_field :password_confirmation, placeholder: "Password Confirmation" %>
</div>

<div class="photo">
  <button><%= f.file_field :image,:class => 'profile_pic', :style=>"font-size:35px"%></br></button>
</div>

<div class="field">
  <%= f.submit "Create Profile", :class => 'upload'%>
</div>
<% end %>
</div>
