<%=image_tag(@user.image, height:'175px', width: '175px',class: "item_pic")%>
<h1><%= link_to @user.first_name + " " + @user.last_name, edit_user_path %>'s Friends!</h1>


<% @contact_list.each do |letter, friends| %>
<h1><%=letter.upcase%></h1>
<ul>
  <%# @user.friends.each do |friend| %>
  <% friends.each do |friend| %>
  <li>
    <%=image_tag(friend.image, height:'175px', width: '175px',class: "item_pic")%>
    <%= link_to friend.first_name + " " + friend.last_name, "/users/#{friend.id}/gifts" %>
    (<%= link_to "Remove Friendship", "contact_delete/#{friend.id}"%>)
  </li>
</br>
<% end %>
</ul>
<% end %>





<%= link_to "Find Friends", users_path %>
<%= link_to "Add item to list", new_gift_path %>
