<%= notice %>
 <a href="/logout">Log Out</a>
<h1> Welcome to your page <%= @user.first_name %>!</h1>





<%=link_to "Find Friends", users_path%>
<%=link_to "Friends", "/contacts/#{@user.id}" %>
<%=link_to "Add Item to List", new_gift_path %>
