
<a href="/logout">Log Out</a></br>
<%=image_tag(@user.image, height:'175px', width: '175px',class: "item_pic")%>
<h1><%= link_to @user.first_name + " " + @user.last_name, edit_user_path %>'s Profile!</h1>




<%=link_to "Find Friends", users_path%>
<%=link_to "Friends", "/contacts/#{@user.id}" %>
<%=link_to "Add Item to List", new_gift_path %>
