
<a href="/logout">Log Out</a></br>
<%=image_tag(@user.image, height:'175px', width: '175px',class: "item_pic")%>
<%= link_to "Edit Profile", edit_user_path %>
<h1><%=@user.first_name + " " + @user.last_name%>'s Profile!</h1>


<%=link_to "Electronics", "/users/#{@user.id}/gifts/Electronics"%>
<%=link_to "Fashion", "/users/#{@user.id}/gifts/Fashion"%>
<%=link_to "Toys", "/users/#{@user.id}/gifts/Toys"%>
<%=link_to "Personal", "/users/#{@user.id}/gifts/All"%>
<%=link_to "View All", "/users/#{@user.id}/gifts"%>

<%=link_to "Find Friends", users_path%>
<%=link_to "Friends", "/contacts/#{@user.id}" %>
<%=link_to "Add Item to List", new_gift_path %>
