

<h1> <%= @user.first_name%>'s Wishlist</h1>

<% if @user == current_user%>
<ul>
    <% @user.gifts.each do |gift| %>
    <li>
    <%= link_to gift.name, gift%>
    (<%= link_to "Edit Item", edit_gift_path(gift)%>)
    (<%= link_to "Remove Item", gift, :method => :delete %>)
  </li>
  <% end %>
</ul>
<% else %>
<ul>
    <% @user.gifts.each do |gift| %>
    <li>
    <%= link_to gift.name, gift %>
  </li>
  <% end %>
</ul>
<% end %>



<%= link_to "Find Friends", users_path %>
<%= link_to "Add item to list", new_gift_path %>
<%= link_to "Back to Profile", @current_user %>
<%=link_to "Friends", "/contacts/#{@user.id}" %>
