
<header id="gift-index-header" class="<%=params[:category]%>" >
  <%= link_to '<i class="fa fa-caret-left" aria-hidden="true"></i>'.html_safe, "/users/#{current_user.id}"%>
  <h2 class="category_title"><%= params[:category] %></h2>

</header>
<!-- <div class="effect">

</div> -->
<div class="gifts_container">

<div id="gifts-index-center">
  <% @users_gifts.each do | gift | %>
  <div class="gifts-loop-outer">


    <% if @user != current_user %>
    <div class="gifts-loop-item">
      <%= gift.purchased %>
    </div>
    <% end %>

    <% if @user == current_user%>
    <div class="gifts-loop-item">
      <button class="edit"><%= link_to "Edit", edit_gift_path(gift)%></button>
    </div>

    <div class="gifts-loop-item">
      <button class="remove"><%= link_to "Remove", gift, :method => :delete %></button>
    </div>
    <div class="gifts-loop-item">
      <%= link_to gift.name, gift%>
    </div>
  </div>
  <% end %>
  <% end %>
</div>
</div>



<footer>
  <div class="footer_button">
    <div class="image">
      <%= link_to '<i class="fa fa-user" aria-hidden="true"></i>'.html_safe, "/contacts/#{current_user.id}"%>
    </div>
    <div class="text">
      <%= link_to "Contacts", "/contacts/#{current_user.id}"%>
    </div>
  </div>
  <div class="footer_button">
    <div class="image">
      <%= link_to '<i class="fa fa-gift" aria-hidden="true"></i>'.html_safe, "/users/#{current_user.id}"%>
    </div>
    <div class="text">
      <%= link_to "Wrap-It! List", "/users/#{current_user.id}" %>
    </div>
  </div>
  <div class="footer_button">
    <div class="image">
      <%= link_to '<i class="fa fa-plus" aria-hidden="true"></i>'.html_safe, new_gift_path%>
    </div>
    <div class="text">
      <%= link_to "Add To List", new_gift_path %>
    </div>
  </div>
</footer>
