<%= notice %></br>

<!-- List all gifts of current user: your own wishlist && wishlist for your contacts/friends -->
<%=image_tag(@user.image, height:'175px', width: '175px',class: "item_pic")%>
<h1> <%= @user.first_name + " " + @user.last_name%>'s Wrap-It! List</h1>
<% if @user == current_user%>
<% if params[:category] %>
<ul>
  <% @category_gifts.each do | gift | %>
  <li>
    <%= link_to gift.name, gift%>
    (<%= link_to "Edit Item", edit_gift_path(gift)%>)
    (<%= link_to "Remove Item", gift, :method => :delete %>)
  </li>
  <% end %>
</ul>
<% else %>
<ul>
  <% @users_gifts.each do |gift| %>
  <li>
    <%= link_to gift.name, gift%>
    (<%= link_to "Edit Item", edit_gift_path(gift)%>)
    (<%= link_to "Remove Item", gift, :method => :delete %>)
  </li>
  <% end %>
</ul>
<% end %>
<% else %>
<% if params[:category] %>
<ul>
  <% @category_gifts.each do | gift | %>
  <li>
    <%= link_to gift.name, gift%>
    <%= gift.purchased %>
  </li>
  <% end %>
</ul>
<% else %>
<ul>
  <% @users_gifts.each do |gift| %>
  <li>
    <%= link_to gift.name, gift%>
    <%= gift.purchased %>

  </li>
  <% end %>
</ul>
<% end %>
<% end %>






<%= link_to "Find Friends", users_path %>
<%= link_to "Add item to list", new_gift_path %>
<%= link_to "Back to Profile", current_user %>
<%=link_to "Friends", "/contacts/#{current_user.id}" %>
