
  <strong>Item Name:</strong>
  <%= @gift.name %>
</p>

<p>
  <strong>Model #:</strong>
  <%= @gift.model %>
</p>

<p>
  <strong>Price:</strong>
  $<%= @gift.price.to_i %>
</p>

<p>
  <strong>Category:</strong>
  <%= @gift.category %>
</p>
<p>
  <strong>Store:</strong>
  <%= @gift.store %>
</p>
<p>
  <%if @gift.weblink.empty?%>

  <strong>Weblink:</strong>
  No link
  <%else%>
  <strong>Weblink:</strong>
  <%= link_to 'See Item', @gift.weblink %>
  <%end %>
</p>
<p>
  <strong>Image:</strong>
</br>
  <%=image_tag(@gift.image, height:'175px', width: '175px',class: "item_pic")%>
</p>

<%= link_to "Back to Wishlist", "/users/#{@user.id}/gifts" %>
<button ><%= link_to "WRAP-IT!", :controller => "gifts", :action => "search", :id => @gift%></button>


<%= check_box_tag(id="purchased", name="purchase_status",checked=@gift.purchased) %>
